header {
    flex: auto;
    display: flex;
    width: auto;
    margin-bottom: 2em;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0 var(--spacing-3);
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

.nav {
    display: flex;
    align-items: center;
    padding: var(--spacing-3) 0;
  }
  
  .navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
  }
  
  .navigation-item {
    margin: 0 15px;
  }

  .portrait {
    vertical-align: middle;
    width: 450px;
    max-height: 650px;
  }

  .about-me-container {
    display: flex;
  }

  h2 {
    display: block;
  }

  h3 {
    margin-bottom: -1.75em;
  }

  h4 {
    margin-bottom: -.65em;
  }

  .education,
  .career {
    margin-left: 1.5em;
  }

  .skills-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

.skill {
    max-height: 2.5em;
}

label {
    display: flex;
    margin-bottom: .25em;
    font-size: 1.25em;
    width: 350px;
}

textarea {
    color: #b6b6b6;
    display: flex;
    width: 300px;
}

input {
    margin-top: .5em;
}

footer {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}